# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.dirstamp
*.dll
*.dobj
*.exe
*.exp
*.gcda
*.gcno
*.gcov
*.l[aon]
*.lib
*.obj
*.orig
*.pdb
*.profile
*.sln
*.swo
*.swp
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*~
.DS_Store
._*
.deps/
.libs/

/build
/bin
/lib
/CMakeCache.txt
/CMakeFiles/
/CPackConfig.cmake
/CPackSourceConfig.cmake
/cmake/distinfo/distinfo.cmake
/cmake_install.cmake
/defs.mk
/generated/
/tools/CMakeFiles/
/tools/Makefile
/tools/cmake_install.cmake
/include/libdcp/visibility.h
core.*
/cmake/distinfo/MANIFEST
